@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ebeef3;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*все приложение*/

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1g853jt).ant-pagination .ant-pagination-options {
  display: none
}


